@import '../../styles/variables';

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bubble {
  $size: 40px;
  border-radius: 50%;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  font-weight: bold;
  font-size: 22px;
}

.user {
  position: relative;
}

//.gitlab {
//  background: $gitlab-bg;
//}
//
//.gitea {
//  background: $gitea-bg;
//}
//
//.github {
//  background: $github-bg;
//}
//
//.google {
//  background: $google-bg;
//}
